#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding-top: 1em;
}

.select-option-container {
  padding: 8px 0;
  text-align: left;

  label {
    font-weight: 700;
    font-size: 14px;
  }
}

.calculate-button {
  background-color: #025bba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.calculate-button:hover {
  background-color: #024c9b;
  transform: scale(1.01);
}

.calculate-button:active {
  background-color: #004089;
  transform: scale(1);
}

.calculate-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 5);
}

.result-container {
  padding-top: 16px;
}

.result-label {
  font-weight: 400;
  font-size: 24px;
}

.result {
  font-weight: 700;
  font-size: 24px;
}
